<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.linfirmware.pseudorandomnumbergenerator" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Pseudo</name>
  <description>
        An Ionic application for Android and iOS that lets users easily generate pseudorandom numbers using a variety of different PRNG algorithms such as mersenne twister and linear congruential generator.
    </description>
  <author email="wcarlsen@linfirmware.com" href="http://linfirmware.com/">
      Wesley Carlsen
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
