<ion-view view-title="Settings/About">
  <ion-content class="padding">
	<div>
		<h3>Application Information</h3>
		<p>Pseudo aims to provide the most flexible and intuitive pseudorandom number generator on the app store. You can choose the range of random numbers you want, how many numbers you want generated, and the algorithm used to generate those numbers. A history is kept of past number sequences you generated, which can be modified or cleared.</p>
		<div class="clear"></div>
	</div>
	<div>
		<h3>Settings</h3>
		<p>Set how many generated number/number sequences you want to retain in history.</p>
	<label class="item-input item-select">
		<div class="input-label">&nbsp;</div>
		<select ng-model="settings.historyCount" ng-change="historyCountChanged()">
			<option>5</option>
			<option>10</option>
			<option ng-selected="true">20</option>
			<option>30</option>
			<option>40</option>
		</select>
	</label>
	<button ng-click="clearHistory()" class="button button-block button-positive">Clear History</button>
	<div class="clear"></div>
	</div>
  </ion-content>
</ion-view>

