<ion-view view-title="Number Generator">
  <ion-content>
    <div class="list card" >
      <div class="item item-body">
        <rzslider
          rz-slider-model="slider.min"
          rz-slider-high="slider.max"
          rz-slider-options="slider.options"></rzslider>
      </div>
    </div>
    <div class="list card" ng-repeat="numberSequence in generatedNumbers" >
      <div class="item item-body">
        <p>{{numberSequence.id}}</p>
        <p>{{numberSequence.lowRange}}</p>
        <p>{{numberSequence.highRange}}</p>
        <p>{{numberSequence.count}}</p>
        <p>{{numberSequence.algorithm}}</p>
      </div>
      <div class="item item-body">
        <p>2, 4, 12, 1, 2, 4, 12, 1, 2, 4, 12, 1, 2, 4, 12, 1, 2, 4, 12, 1, 2, 4, 12, 1, 2, 4, 12, 1, 2, 4, 12, 1, 2, 4, 12, 1, 2, 4, 12, 1, 2, 4</p>
      </div>
    </div>
  </ion-content>
</ion-view>
