<ion-view view-title="Number Generator">
  <ion-content>
    <div class="list card" >
      <div class="item item-body">
        <p class="generate-title">Quantity</p>
        <rzslider
         rz-slider-model="count.value"
         rz-slider-options="count.options"></rzslider>
        <p class="generate-title">Range/Span (Inclusive)</p>
        <rzslider
          rz-slider-model="range.min"
          rz-slider-high="range.max"
          rz-slider-options="range.options"></rzslider>

    <p class="generate-title">Algorithm</p>
    <label class="item item-input item-select">
    <div class="input-label">
        &nbsp;
    </div>
    <select>
        <option selected>Linear Congruential Generator (Microsoft)</option>
        <option>Linear Congruential Generator (BSD)</option>
        <option>Mersenne Twister</option>
    </select>
</label>
        <button ng-click="generate()" class="button button-positive">Generate</button>
      </div>
    </div>
    <div class="list card" ng-repeat="numberSequence in generatedNumbers" >
      <div class="item item-body">
        <p>{{numberSequence.id}}</p>
        <p>{{numberSequence.lowRange}}</p>
        <p>{{numberSequence.highRange}}</p>
        <p>{{numberSequence.count}}</p>
        <p>{{numberSequence.algorithm}}</p>
      </div>
      <div class="item item-body">
        <p>2, 4, 12, 1, 2, 4, 12, 1, 2, 4, 12, 1, 2, 4, 12, 1, 2, 4, 12, 1, 2, 4, 12, 1, 2, 4, 12, 1, 2, 4, 12, 1, 2, 4, 12, 1, 2, 4, 12, 1, 2, 4</p>
      </div>
    </div>
  </ion-content>
</ion-view>
