<ion-view view-title="Number Generator">
  <ion-content>
    <div class="list card" >
      <div class="item item-body">
        <p class="generate-title">Quantity</p>
        <rzslider
         rz-slider-model="count.value"
         rz-slider-options="count.options"></rzslider>
        <p class="generate-title">Range/Span (Inclusive)</p>
        <rzslider
          rz-slider-model="range.min"
          rz-slider-high="range.max"
          rz-slider-options="range.options"></rzslider>

    <p class="generate-title">Algorithm</p>
    <label class="item item-input item-select">
    <div class="input-label">
        &nbsp;
    </div>
    <select ng-model="generator.algorithm">
        <option ng-selected="true">Linear Congruential Generator (MS)</option>
        <option>This Device (Javascipt Engine)</option>
    </select>
</label>
        <button ng-click="generate()" class="button button-positive">Generate</button>
      </div>
    </div>
    <div class="list card padding" ng-repeat="numberSequence in generatedNumbers" >
      <p class="generate-title">Date: {{numberSequence.date}}, Time: {{numberSequence.time}}, Seed: {{numberSequence.seed}}, Range: {{numberSequence.lowRange}} - {{numberSequence.highRange}}, Quantity: {{numberSequence.count}}, Algorithm: {{numberSequence.algorithm}}</p>
      <p>{{numberSequence.data}}</p>
    </div>
    <div class="clear marginBottom"></div>
  </ion-content>
</ion-view>
